/* ErrorMessage.css */
.error-message {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: red !important;
  padding-left: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  position: relative;
}

.error-message p {
  color: white;
}

.cross-icon {
  margin-left: auto;
  top: 10px;
  right: 10px;
  color: white;
  cursor: pointer;
  padding-right: 10px;
}
