
.app-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
  }
  
  

  .playerBox {
    display: inline-block;
    padding: 8px;
    border: 1px solid black;
    border-radius: 20px;
    margin-right: 16px; 
    text-align: center; 
  }
  
  .addButtonContainer {
    display: flex;

  }

  .addButtonContainer button {
    background-color: #666666;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin-top: 10px;
    cursor: pointer;
  }
  
  .tableContainer {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  

  table {
    border-collapse: collapse;
    margin-top: 10px; 
    width: 400px;
  }
  
 table, th, td {
    border: 1px solid black;
    height: 20px;
    width: 80px;

  }
  
.timerContainer {
    display: flex;
    align-items: center;

  }

  .timerContainer button {
    background-color: #666666;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin-top: 10px;
    cursor: pointer;
    width: 100px;
  }

  .timerContainer .timer {
    text-align: center;
    margin-left: 50px; 
  }

 
