#button {
    background-color: #666666;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 20px;
    margin-top: 10px;
    cursor: pointer;
    left: 30%;
    margin-right: 10px;
  }

  #buttonpw {
    background-color: #666666;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 20px;
    margin-top: 10px;
    cursor: pointer;
    width: 200px
  }