#btn-login {
  margin-top: 20px;
}

.gridContainer {
  min-height: 100vh;
}

.leftPanel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Full height of the viewport */
}

.form {
  width: 100%; /* Or a fixed width if you prefer */
  max-width: 480px; /* Max width for the form */
  padding: 20px;
  box-sizing: border-box;
}

.rightPanel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Full height of the viewport */
  background-color: #00bfff;
  background: linear-gradient(to right, #6dd5ed, #2193b0);
}

.sign-up-link {
  text-transform: none;
  color: whitesmoke;
}
