.gridContainer {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.leftPanel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.form {
  width: 100%; /* Or a fixed width if you prefer */
  max-width: 480px; /* Max width for the form */
  padding: 20px;
  box-sizing: border-box;
}

.rightPanel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #00bfff;
  background: linear-gradient(to right, #6dd5ed, #2193b0);
}

/* Media query for mobile devices */
@media (max-width: 600px) {
  .rightPanel {
    padding: 15px;
    flex: 0 0 40%; /* takes the remaining 40% of the space */
  }

  .leftPanel {
    flex: 0 0 60%; /* takes 60% of the space */
  }

  .rightPanel h3 {
    font-size: 25px;
  }
}

/* Styles for PC version */
@media (min-width: 601px) {
  .leftPanel {
    height: 100vh;
  }

  .rightPanel {
    height: 100vh;
  }
}

.sign-up-link {
  text-transform: none !important;
  color: whitesmoke;
  font-size: large;
}

.sign-up-btn {
  text-transform: none !important;
}

.error-message {
  background-color: red !important;
  position: relative;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.error-message p {
  margin: 0;
  color: white; /* Adjust text color if needed */
}

.cross-icon {
  position: absolute;
  top: 10px;
  right: 10px;
  color: white; /* Adjust icon color if needed */
}

#btn-login {
  margin-top: 20px;
  font-size: large;
}
