.gridContainer {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.leftPanel,
.rightPanel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form {
  max-width: 480px;
  padding: 20px;
  box-sizing: border-box;
}

.rightPanel {
  background-color: #00bfff;
  background: linear-gradient(to right, #6dd5ed, #2193b0);
}

/* Media query for mobile devices */
@media (max-width: 600px) {
  .rightPanel {
    padding: 15px;
  }

  .rightPanel h3 {
    font-size: 25px;
  }

  .sign-up-btn {
    width: 150px;
  }

  .login-button {
    margin-top: 20px;
  }
}

/* Styles for PC version */
@media (min-width: 601px) {
  .leftPanel,
  .rightPanel {
    height: 100vh;
  }

  .sign-up-link {
    font-size: medium;
  }

  #btn-login {
    margin-top: 20px;
    font-size: medium;
  }
}

.sign-up-link {
  text-decoration: none !important;
  color: whitesmoke;
}
